* {
    list-style: none;
    margin: 1px;
    padding: 0;
}

body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-evenly;
}

.footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

#cagnotte {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3rem;
        display: inline;
        align-items: center;
}

h1 {
    text-align: center;
    font-size : 80px;
    margin: 0;
    color: white;  
    border: 5px solid;
    border-image-source: linear-gradient(45deg, rgb(254, 254, 255),goldenrod);
    border-image-slice: 1;
    
}
strong {
    color: rgb(206, 167, 69);
}

.title {
    background : linear-gradient(to left,white,goldenrod);
}

.rules {
    text-align: center;
    margin-right: 22px;
}
#rules {
    font-size: 40px;
}
.valeur {
    text-align: center;
}
.question {
    text-align : center;
    border : 2px solid black;
    padding: 1rem ;
}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap : 8px;
    
    }

li {
    list-style: none;
    
}
#A , #B , #C , #D{
    font-size : 30px;
    width : 100%;
}
#validation {
    font-size: 40px;
}
.question p {
    font-size: 1.4rem;
}
@media screen and (max-width:769px){
    h1 {
        font-size : 50px;
    }
    #rules {
        font-size : 30px;
    }
    ul{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    #cagnotte {
        font-size : 2rem;
    }
    #A , #B , #C , #D{
        font-size : 25px;

    }
    #validation {
        font-size: 30px;
    }
    #cagnotte {
        font-size: 1.5rem;
        
    }
}