* {
    list-style: none;
    margin: 0;
}

body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}

.divPourCss {
        display: flex;
        flex-direction: column-reverse;
}

.footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

#cagnotte {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 4rem;
        display: inline;
        align-items: center;
html {
 color : red;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }

@media screen and (max-width: 525px){
    ul{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}



li {
    list-style: none;
}